@page
@model linqweb.Pages.Items.DeleteModel
@{
}
<div class="card card-header">Delete Item</div>
 
<form method="post" >
    <div class="card card-body">
        <div class="m-2">
            <label class="form-check-label">Item Name</label>
            <label type="text" class="form-control m-2">@Model.item.ItemName</label>
        </div>
        <div class="m-2">
            <label class="form-check-label">Price</label>
            <label type="text" class="form-control m-2">@Model.item.Price</label>
        </div>
        <div class="m-2">
            <label class="form-check-label">Quantity</label>
            <label type="text" class="form-control m-2">@Model.item.Quantity</label>
        </div>
        <div class ="m-2">
            <label class="form-check-label">Supplier</label>
            <label type="text" class="form-control m-2">@Model.item.Name</label>
        </div>
    </div>
    <div class="card card-footer">
        <button class="btn btn-danger">Delete</button>
    </div>
</form>